<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>Leon's {% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <h1>Welcome to the login page!</h1>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>